@keyframes appearTooltip {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}
@keyframes opacTooltip {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 2;
  }
}
@keyframes appearCalendar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacCalendar {
  0% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 3;
  }
}
.reservation_container {
  position: relative;
  margin-top: 19rem;
  height: 79rem;
}
.reservation__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 101.2rem;
  color: #22262a;
  font-size: 10.4rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.624rem;
  text-transform: uppercase;
}

.reservation__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.reservation__way {
  margin-bottom: 15.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26.2rem;
}
.reservation__way-title {
  color: #22262a;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.09rem;
}
.reservation__way-link {
  color: #b0008e;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.25;
  text-decoration-line: underline;
}
.reservation__content-img {
  position: relative;
  width: 63rem;
  height: 66.4rem;
  border-radius: 2rem;
  z-index: -1;
}
.reservation__content-img::before {
  content: '';
  position: absolute;
  top: -8.7rem;
  right: -2.9rem;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  background-color: #dadada;
}
.reservation__content-img::after {
  content: '';
  position: absolute;
  top: -3.5rem;
  right: -9.9rem;

  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #c344ab;
}
.reservation__content-img img {
  height: 100%;
}
.reservation__place {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6.2rem;
}
.reservation__wrapper {
  width: 53.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reservation__content-description {
  width: 37.2rem;
  margin-bottom: 6.2rem;
  color: #22262a;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.25; /* 37.5px */
}
.reservation__place-img {
  width: 41rem;
  height: 29.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20rem;
  border: 1px solid #dadada;
}
.reservation__place-img img {
  width: 39.54rem;
  height: 28.2rem;
  border-radius: 20rem;
}
.reservation__course {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 8rem;
}
.reservation__course-imgs {
  display: flex;
}
.reservation__course-imgs--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border: 1px solid #dadada;
  border-radius: 50%;
}
.reservation__course-imgs--wrapper img {
  width: 6.33rem;
  height: 6.33rem;
}
.reservation__course-imgs--wrapper:nth-of-type(1) {
  z-index: 2;
}
.reservation__course-imgs--wrapper:nth-of-type(2) {
  margin-left: -1rem;
  z-index: 1;
}
.reservation__course-info {
  width: 17.3rem;
  color: rgba(34, 38, 42, 0.6);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}
.rooms__list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rooms__list-item {
  display: flex;
  gap: 6rem;
}
.rooms__list-item:nth-of-type(even) {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.rooms__img {
  position: relative;
  width: 79.1rem;
  height: 67.9rem;
  overflow: hidden;
  cursor: pointer;
}
.rooms__img-prev {
  position: absolute;
  left: 6rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  cursor: pointer;
}
.rooms__img-next {
  position: absolute;
  right: 6rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  cursor: pointer;
}
.rooms__img img {
  height: 100%;
}
.rooms__content {
  width: 63.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.rooms__content-count {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.rooms__content-count--icon {
  width: 4rem;
  height: 4rem;
}
.rooms__content-count--icon img {
  height: 100%;
}
.rooms__content-title {
  color: #22262a;
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.2; /* 96px */
  letter-spacing: 2.4px;
}
.rooms__content-description {
  color: #22262a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}
.rooms__price {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #22262a;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2; /* 21.6px */
}
.rooms__price-number {
  display: flex;
  color: #b0008e;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25; /* 37.5px */
}
.rooms__main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.rooms__info-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.rooms__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.rooms__info-title {
  width: 19rem;
  color: #22262a;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2; /* 21.6px */
}
.rooms__info-description {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #22262a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}
.rooms__info-counter {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #22262a;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2; /* 21.6px */
}
.rooms__info-counter--plus,
.rooms__info-counter--minus {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rooms__info-counter--plus img,
.rooms__info-counter--minus img {
  height: 100%;
}
.rooms__date {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.rooms__date-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.rooms__date-title {
  color: #22262a;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2; /* 21.6px */
}
.rooms__date-icon {
  width: 3rem;
  height: 3rem;
}
.rooms__date-icon img {
  width: 100%;
  height: 100%;
}
.rooms__booking {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rooms__booking-btn {
  width: 16.5rem;
  height: 4.1rem;
  padding: 0.9rem 2.2rem;
  border-radius: 1.5rem;
  background: #b0008e;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}

.accept_container {
  display: flex;
  gap: 12rem;
}
.accept__wrapper {
  flex: 1;
}
.accept__img {
  width: 50.5rem;
  height: 61.8rem;
  border-radius: 1rem;
  overflow: hidden;
}
.accept__img img {
  height: 100%;
}
.accept__content {
  width: 64.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.accept__content-title {
  color: #22262a;
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.2; /* 96px */
  letter-spacing: 2.4px;
}
.accept__content-description {
  color: #22262a;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.25; /* 37.5px */
}
.accept__links {
  display: flex;
  gap: 4rem;
}
.accept__links-social {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.accept__links-social img {
  width: 100%;
  height: 100%;
}
.accept__right {
  display: flex;
  align-items: flex-end;
}
.accept__right-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.1rem;
  height: 23.37rem;
  border: 1px solid #dadada;
  border-radius: 11rem;
}
.accept__right-img img {
  width: 15rem;
  height: 22.3rem;
  border-radius: 11rem;
}

.flight_container {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  border-radius: 1rem;
  background: #f8f8f8;
}
.flight__title {
  width: 56.1rem;
  color: #22262a;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.2; /* 60px */
  letter-spacing: 1.5px;
}
.flight__description {
  width: 73.4rem;
  color: #22262a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}
.flight__icon {
  width: 4rem;
  height: 4rem;
}
.flight__icon img {
  height: 100%;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(23, 2, 19, 0.5);
  backdrop-filter: blur(10px);
  z-index: 22;
}
.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem;
  width: 87.2rem;
  border-radius: 1rem;
  background: #f8f8f8;
}
.modal__content-title {
  color: #22262a;
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.2; /* 96px */
}
.modal__content-container {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.modal__content-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.modal__content-text {
  color: var(--black, #22262a);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2; /* 21.6px */
}
.modal__content-date,
.modal__content-type {
  color: var(--black, #22262a);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.modal__form-wrapper {
  width: 36.6rem;
}
.modal__form-wrapper input {
  width: 100%;
  height: 4.6rem;
  border-bottom: 1px solid #dadada;
}
.modal__form-wrapper--message {
  width: 100%;
}
.modal__form-wrapper--message input {
  width: 100%;
  height: 4.6rem;
  border-bottom: 1px solid #dadada;
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.modal__form-text {
  width: 53%;
  color: rgba(34, 38, 42, 0.6);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}
.modal__form-btn {
  width: fit-content;
  height: 100%;
  display: flex;
  padding: 0.9rem 2.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  background: #b0008e;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29; /* 23.22px */
}
.modal.visible {
  display: flex;
}
.modal__content-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2.4rem;
  height: 2.4rem;
}
.calendar {
  display: none;
  width: 70.4rem;
  height: auto;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 6rem;
  left: 0;
  background-color: #f8f8f8;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 1rem;
}
.btn-next,
.btn-prev {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.btn-next svg,
.btn-prev svg {
  width: 100%;
  height: 100%;
}
.calendar__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.calendar-container {
  display: flex;
  flex-direction: column;
}
.calendar__container {
  display: flex;
  gap: 6rem;
}
.calendar.visible {
  display: flex;
  opacity: 1;
  animation: appearCalendar 0.5s ease-in-out;
}
.calendar.invisible {
  display: flex;
  opacity: 0;
  animation: opacCalendar 0.5s ease-in-out;
  z-index: -100;
}

.calendar-month {
  margin: 2rem;
}
.calendar__header-wrapper {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.calendar-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.4rem;
  align-items: center;
  margin-bottom: 1rem;
  color: #22262a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem; /* 111.111% */
}

.calendar-header-wrapper span {
  font-size: 1.5rem;
  font-weight: bold;
}

.calendar-table {
  width: 26.7rem;
  border-collapse: collapse;
}
.calendar-table thead tr {
  display: flex;
  justify-content: space-between;
}
.calendar-table thead tr th {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
.calendar-table tr {
  display: flex;
}
.calendar-table th {
  text-align: center;
  padding: 0.5rem;
  color: #22262a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6rem; /* 88.889% */
}
.calendar-table .day.active {
  color: #fff;
  background-color: #c344ab;
}
.calendar-table td {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  color: #22262a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6rem; /* 88.889% */
  text-transform: uppercase;
}
.day {
  border: 1px solid #f8f8f8;
}
.calendar-table td.past {
  color: #22262a54;
}
.rooms__booking-remark {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}
.rooms__booking-remark svg {
  width: 100%;
  height: 100%;
}
.tooltiptext-booking {
  position: absolute;
  top: 5rem;
  width: 43.9rem;
  padding: 2rem 3rem 2rem 2rem;
  background-color: #c344ab;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.29;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.tooltiptext-booking.invisible {
  opacity: 0;
  animation: opacTooltip 0.5s ease-in-out;
  z-index: -2;
}
.tooltiptext-booking.visible {
  opacity: 1;
  animation: appearTooltip 0.5s ease-in-out;
  z-index: 2;
}
.tooltiptext-booking::after {
  content: '';
  position: absolute;
  bottom: 97%;
  left: 17.9rem;
  margin-left: -1.3rem;
  border-width: 1.3rem;
  border-style: solid;
  border-color: transparent transparent #c444ab transparent;
  border-top-width: 0;
  border-bottom-width: 2.4rem;
  border-color: transparent transparent #c444ab transparent;
}
.tooltiptext-booking--close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}
.tooltiptext-booking--close-btn svg {
  width: 100%;
  height: 100%;
}
@keyframes appearNotChoised {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacNotChoised {
  0% {
    display: block;
    height: auto;
    opacity: 1;
  }
  100% {
    display: block;
    height: auto;
    opacity: 0;
  }
}
.not_choised {
  display: none;
  position: fixed;
  padding: 1rem;
  top: 26rem;
  left: 50%;
  width: 50.7rem;
  height: 17rem;
  transform: translate(-50%, 0);
  border-radius: 1rem;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0;
  /* transition: opacity 0.5s ease-in-out; */
  /* animation: opacNotChoised 0.5s ease-in-out; */
}
.not_choised.invisible {
  animation: opacNotChoised 0.5s ease-in-out;
}

.not_choised.visible {
  visibility: visible;
  height: auto;
  opacity: 1;
  animation: appearNotChoised 0.5s ease-in-out;
}
.not_choised-container {
  position: relative;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 1rem;
  background: #fff;
}
.not_choised-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.not_choised__title {
  color: #22262a;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.05px;
  text-transform: uppercase;
}
.not_choised__text {
  width: 22rem;
  color: #22262a;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.98px;
}

@media (max-width: 48em) {
}
