*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Myriad Pro';
  font-weight: 300;
  src: url('../fonts/Myriad Pro/MyriadPro-Light.otf') format('otf');
  /* url('../fonts/Myriad Pro/MyriadPro-Light.woff') format('woff'),
    url('../fonts/Myriad Pro/MyriadPro-Light.ttf') format('truetype'),
    url('../fonts/Myriad Pro/MyriadPro-Light.svg#svgFontName') format('svg'); */
}
@font-face {
  font-family: 'Myriad Pro';
  font-weight: 400;
  src: url('../fonts/Myriad Pro/MYRIADPRO-REGULAR.OTF') format('otf');
  /* url('../fonts/Myriad Pro/MYRIADPRO-REGULAR.woff') format('woff'),
    url('../fonts/Myriad Pro/MYRIADPRO-REGULAR.ttf') format('truetype'),
    url('../fonts/Myriad Pro/MYRIADPRO-REGULAR.svg#svgFontName') format('svg'); */
}
@font-face {
  font-family: 'Myriad Pro';
  font-weight: 600;
  src: url('../fonts/Myriad Pro/MYRIADPRO-SEMIBOLD.OTF') format('otf');
  /* url('../fonts/Myriad Pro/MYRIADPRO-SEMIBOLD.woff') format('woff'),
    url('../fonts/Myriad Pro/MYRIADPRO-SEMIBOLD.ttf') format('truetype'),
    url('../fonts/Myriad Pro/MYRIADPRO-SEMIBOLD.svg#svgFontName') format('svg'); */
}
@font-face {
  font-family: 'Myriad Pro';
  font-weight: 700;
  src: url('../fonts/Myriad Pro/MYRIADPRO-BOLD.OTF') format('otf');
  /* url('../fonts/Myriad Pro/MYRIADPRO-BOLD.woff') format('woff'),
    url('../fonts/Myriad Pro/MYRIADPRO-BOLD.ttf') format('truetype'),
    url('../fonts/Myriad Pro/MYRIADPRO-BOLD.svg#svgFontName') format('svg'); */
}
html {
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'myriad-pro'; */
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #262525;
  background-color: #ffffff;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}
a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
textarea:focus {
  outline: none;
}
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}
ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 141rem;
  margin: 0 auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

section {
  margin-bottom: 18rem;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 5vw);
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
